/******************
BASE
******************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/******************
LAYOUTS
******************/


/******************
DISPLAY
******************/
/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    margin: 10px 3%;
}
.navbar-container {
    list-style: none;
    padding: 0 10px;
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}
.navbar-container.menu-open {
    display: block;
    opacity: 1;
}
.navbar-item {
    width: 100%;
    text-align: center;
    background-color: aqua;
}
.business-name {
    font-family: "Marck Script", cursive;
    font-size: 2.5rem;
    padding-left: 5px;
}
i {
    zoom: 250%;
    color: black;
}
/* Main styles */
.top-section {
    /*background-color: rgba(122, 100, 101, 1);*/
    background: linear-gradient(#7A6465 , #A69797, #7A6465);
    height: 300px;
    padding: 50px 5%;
}
h1, .tagline-p {
    color: white;
    width: 100%;
    text-align: center;
}
h1 {
    font-size: 4.0rem;
    font-weight: 100;
}
.tagline-p {
    font-size: 1.0rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px 0 0 0;
}